.button {
    background-color: #4070f4;
    border: none;
    color: #fff;
    padding: 15px 32px;
    font-size: 17px;
    font-weight:500;
    letter-spacing:1px;
    border-radius: 6px;
    margin-top: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #265df2;
}